div.content {
	background-color: rgba(255, 255, 255, 0.9);
	width: 85%;
	min-width: 500px;
	height: auto;
	margin: 0 0 20px 15%;
	padding: 20px 15px;
}

.input-group {
	margin: 20px 20%;
}

.input-group-addon {
	color: white;
}

.input-group-addon:HOVER {
	cursor: pointer;
	background-color: #808080;
}

.delass {
	color: #F3726D;
}

.delass:HOVER {
	color: white;
	background-color: #F3726D;
	cursor: pointer;
}

.delstu {
	color: #F3726D;
}

.delstu:HOVER {
	color: white;
	background-color: #F3726D;
	cursor: pointer;
}

#assign-table td {
	padding: 5px;
	border: 0px solid #CCCCCC;
}